.theme-icon0{
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    position: absolute;
    
}
.malaika-logo{
    padding-left: 50px;
    margin-bottom: 5px;
    margin-top: 5px;   
}
.malaika-logo1{
    padding-left: 0px;
    margin-bottom: 5px;
    margin-top: 5px;  
}
.col-xs-8{
    width: 50%;
    float: left;
}
.alt-button1{
    background-color: #e6be1e;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin-top: 5px;
    color:#ffffff;
    padding: 14px 21px 14px 21px;
    text-transform: uppercase;
    letter-spacing: inherit;
    text-align: left;
}
/**------------------------------navigation----------------*/
.nav-item{
    margin-left: 20px;
    
}
.nav-link{
    color: #333436;
}
.social-icons{
    margin-left: 380px;
}
/*--------------------welcome malaika-------------*/
.welcome-content{
    padding-top: 50px;
    padding-bottom: 50px;   
}
.welcome-content1{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 50px;   
}
.theme-icon{
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    margin-left: 50px;
    position: absolute;
    background-color: #ffffff;
}
.malaika-heading{
    padding-left: 140px;
    margin-bottom: 5px;
    margin-top: 5px;   
}
.theme-icon1{
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    margin-left: 50px;
    position: absolute;
    background-color: #6c98e1;
}
.theme-icon2{
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    margin-left: 50px;
    position: absolute;
    background-color: #d93ad0;
}
.theme-icon3{
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    margin-left: 50px;
    position: absolute;
    background-color: #84c54e;
}
.malaika-text{
    padding-left: 50px;
    margin-top: 30px;   
}
.malaika-heading a{
    border: none;
    text-decoration: inherit;
    color: inherit;
}

/*--------------------learning facilities-------------*/
.learing-facilities{
    margin-top: 50px;
    margin-left: 50px;
}
.card1{
    width: 250px;
    margin-left: 70px;
    margin-top: 30px;
    
}
.card2{
    width: 250px;
    margin-left: 70px;
    margin-top: 30px;
}
.card3{
    width: 250px;
    margin-left: 70px;
    margin-top: 30px;  
}
.custom-heading{
    margin-top: 0px !important;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: inherit;
    background-color: #d93ad0;
}
.custom-heading1{
    margin-top: 0px !important;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: inherit;
    background-color: #6c98e1;
}
.custom-heading2{
    margin-top: 0px !important;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: inherit;
    background-color: #84c54e;
}.custom-heading3{
    margin-top: 0px !important;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: inherit;
    background-color: #e6be1e;
}
h6 a{
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    
    
}
.custom-heading a,.custom-heading1 a,.custom-heading2 a,.custom-heading3 a,.title a,.custom-heading00 a,.malaika-logo a,.malaika-logo1 a,.children-link ul li a,.entry-title a,.tab-item a,.data h3 a{
    border: none;
    text-decoration: inherit;
    color: inherit;
}
/*-------------------------info and news--------------------*/
.learing-facilities0{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
}
.tab-item1{
    border-width: 0;
}
.custom-heading001{
    margin-bottom: 5px !important;
}
.nav-tabs-wrapper0{
    background-color: #37383a;
    margin-right: -15px;
    margin-left: -15px;
    
}
.nav-tab0{
    margin-left: 50px;
    
}
.post-image{
    max-width: 100%;
}


.meta-data{
    margin-bottom: 12px;
    font-weight: 500;
}
.date{
    font-size: 13px;
    color: #878787;
    text-align: left;
    padding-left: 25px;
}
.data h3 a{
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-align: left;
    display: inline;color: #555;
    padding-left: 0px;
}
.col-inner-event{
    margin-top: 2px;
    margin-right: 0px;
    margin-left: -2px;
    margin-bottom: 0px;
    padding-right: 35px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: #eeeeee;
}
.event{
    display: table;
    width: 100%;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0px opx 4px 1px #d9d9d;
}
.tarehe{
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    background-color: #6c98e1;
    padding-top: 9x;
    padding-bottom: 9px;
    color: #fff;
}
.month,.day{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    line-height: 21px;
}
.info{
    display: table-cell;
    text-align: center;
    padding: 17px;
}
.title-info{
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
}
.title-info a{
    color: #555;
    margin-left: -115px;
}
.tribe-events{
    margin-left:-38px;
}
.tab-content{
    margin-left: 20px;
}
/*---------------------------------Prize Sports Activities----------------------*/
.content-box{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*--------------------------------footer-------------------------*/
.alt-button{
    background-color: #6c98e1;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    border:2px solid #6c98e1;
    color:#ffffff;
    padding: 14px 21px 14px 21px;
    text-transform: uppercase;
    letter-spacing: inherit;
    text-align: left;
}
.anim{
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.col-xs-6{
    width: 50%;
    float: left;
}
.address,.phone{
    margin-top: 0px;
    margin-left: 50px;
}

/*---------------------------------facult and staff----------------*/
.children-link{
    border-top-color: #6c98e1;
}
.clearfix{
    clear: both;
}
.children-link{
    box-shadow: 0px 14px 18px 7px;
    margin-bottom: 40px;
    border-top: 5px solid #6c98e1;
    padding: 5px 15px;
    background-color: #fff;

}
.children-link ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.children-link ul li{
    border-bottom: 1px solid #E6E7EB;
}
.side-nav-site{
    padding-left: 50px;
}
.children-link ul li a{
    padding-left: 13px;
    color: #152130;
    padding: 25px 25px 25px 20px;
    display: inline-block;
    width: 100%;
    position: relative;
    line-height: 21px;
    transition: all 0.2s;
    font-size: 15px;
}
.custome-fucult{
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 52px;
    font-weight: normal;
    color: #000000;
    font-size: 42px;
}
.custome-fucult-text{
    margin-bottom: 10px !important;
}
.teacher-one-third,.item{
    padding: 18px 0;
}
.entry-title{
    margin: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #000;
}
.summary{
    font-size: 15px;
}
.job-title{
    margin: 12px 0;
    font-size: 13px;
    line-height: 17px;
    background: #ebebeb;
    color: #5f8fdf;
    padding: 1px 9px;
    display: inline-block;
    border-radius: 15px;
    font-weight: 600;
}
/*-----------------------------teacher list------------*/
.table{
    margin-top: 20px;
    margin-bottom: 40px;
}
.heading-wrapper{
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.heading-wrapper-paragraph{
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}

/*------------------------tabs----------------*/
.nav-link1{
    display: block;
    background-color: #e6be1e;
    margin-left: 5px;
    padding: 10px 20px;  
}
.tab-item a {
    text-align: center;
    display: block;
    padding: 14px 20px;
    box-sizing: border-box;
    position: relative;
    transition: color .2s ease-in-out;
    border: none;
    box-shadow: none;
    color: #fff;
    
}
.tab-item  a:hover{
    background-color:#6c98e1;
}
.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, .125);
    border-radius: .25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(19, 24, 44, .03);
    border-bottom: 1px solid rgba(19, 24, 44, .125)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

card-footer,
.card-header {
    background-color: transparent;
    border-color: rgba(160, 175, 185, .15);
    background-clip: padding-box
}
.graduate{
    margin-top: 20px;
    margin-bottom: 50px;
}